@import '~bootstrap/scss/bootstrap.scss';
@import './scss/main.scss';

*{
    box-sizing: border-box;
}

.react-parallax{
    padding: 0;
}
.react-parallax-content{
    height: 100%;
}

body{
    background: black;
 
}