@import "./variables.scss";
@import "./mixins.scss";

// ------------------------------------------------------ //
// ---------------------TYPOGRAPHY----------------------- //
// ------------------------------------------------------ //
body {
  font-size: 16px;
  color: $white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-shadow: 2px 2px 3px rgba($color: #000000, $alpha: 0.8);
  }

  footer {
    font-size: 0.8rem;
  }
}

// ------------------------------------------------------ //
// ----------------------STANDARD------------------------ //
// ------------------------------------------------------ //
* {
  box-sizing: border-box;
}
body {
  background: $nearblack;
}

section {
  padding: 3rem 0;
}

.skills-tab {
  margin: 0 auto;
  flex-wrap: wrap;
  aspect-ratio: 204/275;
  width: 306px;
  padding: 11.5px;
  padding-bottom: 17px;
  border: 1px solid $darkgray;
  border-radius: 1rem;
  .skills-tab-wrap {
    padding: 2.5px;
    padding-bottom: 1.5px;
    .skills-tab-skill {
      background: rgba(0, 0, 0, 0.1);
      filter: drop-shadow(0 0 0.75rem black);
      height: 100%;
      position: relative;
      font-size: 15px;
      line-height: 1em;
      .skills-tab-skill-title {
        display: none;
      }
      .skills-tab-skill-icon {
        position: absolute;
        bottom: 50%;
        left: 22.5px;
        transform: translate(-50%, 50%) scale(1.25);
      }
      span {
        display: block;
        position: absolute;
        &.skills-tab-skill-lvl {
          top: 3.75px;
          right: 24px;
        }
        &.skills-tab-skill-cap {
          bottom: 6px;
          right: 5.25px;
        }
      }
      .skills-tab-skill-divider {
        display: block;
        position: absolute;
        right: 22.5px;
        transform: rotate(45deg);
        height: 90%;
        width: 1.5px;
        background: $darkgray;
        border-radius: 0.5rem;
      }
    }
    &[data-skill="overall"] {
      .skills-tab-skill {
        .skills-tab-skill-lvl {
          top: unset;
          bottom: 6px;
          right: 50%;
          transform: translateX(50%);
        }
        .skills-tab-skill-title {
          display: block;
          width: 100%;
          text-align: center;
          top: 6px;
          right: 50%;
          transform: translateX(50%);
        }
        .skills-tab-skill-icon,
        .skills-tab-skill-cap,
        .skills-tab-skill-divider {
          display: none;
        }
      }
    }
    &[data-level="99"] {
      .skills-tab-skill {
        border: 1px solid rgba(255, 217, 0, 0.5);
      }
    }
  }

  @media (min-width: $md) {
    width: 408px;
    padding: 15px;
    padding-bottom: 23px;
    border: 2px solid $darkgray;
    border-radius: 1rem;
    .skills-tab-wrap {
      padding: 3px;
      padding-bottom: 2px;
      .skills-tab-skill {
        font-size: 20px;
        .skills-tab-skill-icon {
          left: 30px;
          transform: translate(-50%, 50%) scale(1.75);
        }
        span {
          &.skills-tab-skill-lvl {
            top: 5px;
            right: 32px;
          }
          &.skills-tab-skill-cap {
            bottom: 8px;
            right: 7px;
          }
        }
        .skills-tab-skill-divider {
          right: 30px;
          width: 2px;
        }
      }
      &[data-skill="overall"] {
        .skills-tab-skill {
          .skills-tab-skill-lvl {
            bottom: 8px;
          }
          .skills-tab-skill-title {
            top: 8px;
          }
        }
      }
      &[data-level="99"] {
        .skills-tab-skill {
          border: 1px solid rgba(255, 217, 0, 0.5);
        }
      }
    }
  }
}

.third {
  .container-fluid {
    .react-parallax {
      height: 80vh;
    }
  }
}

.fourth {
  .container-fluid {
    @include section-borders;
    .react-parallax {
      height: 80vh;
    }
  }
}
