@import '../../scss/main.scss';

section.second{
    .react-parallax{
        height: 50vh;
        @include section-borders;
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
        z-index: 2;
    }
}